# Project 1: SQLite Basics - Your Step-by-Step Guide
Welcome to Project 1! In this project, you'll learn the fundamentals of working with SQLite, a lightweight and powerful database. We'll cover creating databases, defining tables, inserting data, and querying information.
## **Objectives:**
* Understand the basics of SQLite.
 * Learn how to create a SQLite database.
 * Define table schemas.
 * Insert, read, and query data.
 * Practice basic error handling.
## **Prerequisites:**
 * Python 3.6+ installed.
 * Basic Python knowledge.
 * Familiarity with Jupyter Notebooks (recommended).

# Background
SQLite is a library that provides a lightweight disk-based database that doesn't require a separate server process. Here's a breakdown of what it is and its best use cases:

## What is SQLite?:
1. Embedded Database:
    * SQLite is "embedded," meaning it's integrated directly into the application. This eliminates the need for a separate database server.
    * The entire database is contained within a single file on the disk.
2. Serverless:
    * Unlike client-server database systems (like MySQL or PostgreSQL), SQLite doesn't require a separate server process to run.
    * This simplifies setup and administration.
3. Lightweight:
    * SQLite has a small footprint, making it ideal for resource-constrained environments.
4. Self-Contained:
    * It's a self-contained, transactional SQL database engine.

## Advantages:
- **Simplicity**: Easy to set up and use.
- **Portability**: Database files can be easily moved between systems and directories.
- **Sharability**: File can be shared.
- **Reliability**: Robust and stable.

## Disadvantages:
- **Concurrency**: SQLite doesn't handle high levels of concurrent write operations as well as client-server databases.
- **Network Access**: SQLite is primarily designed for local file access, though there are emerging methods to use it in client server situations.
- **Large Datasets**: For very large datasets** or high-traffic applications, a client-server database is typically a better choice.

** a large dataset isn't necesarily defined by number of rows, but rather complexity. Hundreds of columns with 500,000 rows could be just as complex as 5 columns with 10,000,000 rows.

# Usage
SQLite comes pre-installed with Python, so there is nothing additional to install when using install
`import sqlite3`

To create a new database, call the following. If the database already exists, a connection will be established to the existing database. If one does not exist, a new database will automatically be created. The database name can also be a path
`conn = sqlite3.connect('database_name.db')`

In [1]:
# Create a database called "employees.db" here:
import sqlite3
conn =

To actually perform any actions within a database, you must establish a 'cursor'. A cursor is a control structure that allows you to interact and manipulate the database itself.

To establish a cursor, you run the `cursor()` function on the connection object.
`cursor = conn.cursor()`

In [2]:
# Create a cursor to your employee database:
cursor =

Now that a cursor is set up, you can execute SQL queries. However, for this example, there are no tables in the database yet.

To compare to excel, a connection is an Excel file and a table is an Excel sheet. You can have multiple sheets within one singular Excel file in the same way that you can have multiple tables in the same database.

Before we can create a table, we must go over datatypes and schema. The table needs to know exactly what data it should expect. This includes the columns as well as the datatypes for each column.

Depending on your database provider (in this case, SQLite), the datatypes can vary. But for SQLite, here are the datatypes available:
- NULL: a missing or empty value
- INTEGER: any whole number without a decimal (ex: 4)
- REAL: a floating point number with a decimal (ex: 4.0)
- TEXT: text strings (ex: 'four' or '4')
- DATE: stores date values in the format 'YYYY-MM-DD'

Databases also require a way to ensure data integrity to uniquely reference rows in a table. This is called a "Primary Key". Primary keys can never be duplicated or be null. Most database providers require a primary key, but SQLite does not. However, just because it is not required doesn't mean one shouldn't/couldn't be assigned.

To create a new table, you can use the "CREATE IF NOT EXISTS" statement, followed by the table name, the column header names, and the expected data type for each column in parameters for the `execute()` function.

```
cursor.execute('''
    CREATE TABLE IF NOT EXISTS employee_data (
        id INTEGER PRIMARY KEY,
        name TEXT,
        department TEXT,
        salary REAL
    )
''')
```

** Important note: Best practice is to have the column names have no spaces. This is because some database providers do not support spaces in column names. If you need to separate words, use an underscore.

The triple single quotes (`'''`) allow for multiline string input for better readability. This could also be done on a single line:

`cursor.execute("CREATE TABLE IF NOT EXISTS employee_data (id INTEGER PRIMARY KEY, name TEXT, department TEXT, salary REAL)")`

This will create 4 columns: id, which is an integer and acts as the primary key, name as text, department as text, and salary as a decimal

In [4]:
# create a table called 'employee_data' with the following columns:
# id = integer and primary key
# first_name = text
# last_name = text
# start_date = date
# termination_date = date
# salary = real
# department = text

query = """
    
    ** insert statement here
    
"""

cursor.execute(query)

To save the changes to the database, you must 'commit' the changes. This commit is done at the database connection level
`conn.commit()`

In [5]:
# Commit the changes:

# Inserting into Table
To insert into a table, you can use an INSERT statement and include the table name, the columns to be inserted into and the data. The data (ie the rows to be inserted) should be formatted as a tuple and must be in the same order as the columns passed in the statement.

```
cursor.execute('''
    INSERT INTO employee_data (id, first_name, last_name, start_date, termination_date, salary, department) VALUES
    (12345678, 'Mary', 'Smith', '2025-01-27', NULL , 5123.00, 'Sales'),
    (34567834, 'Joe', 'Jones', '2020-06-12', '2021-11-23' , 127982.00, 'HR')
''')
```

In [ ]:
# write an insert statement that will insert the following row:
# id = 123456789
# first_name = David
# last_name = English
# start_date = '2020-01-15'
# termination_date = NULL
# salary = 12345.00
# department = IT
query2 = """

    ** insert query here

"""

cursor.execute(query2)
conn.commit()

This method works for inserting single or a handful of entries, but is not ideal for large inserts. Since SQLite is built into python and is widely used, it is seamlessly compatible with Pandas.

Pandas' dataframes have a built in `.to_sql()` function. Simply pass in the table name, connection, if_exists, and index parameters to write the dataframe directly to your table.

```
import pandas as pd

df = pd.read_csv('./sampple_data/employees.csv')
df.to_sql('employee_data', conn, if_exists='append', index=False)

```

The 'if_exists' parameter tells pandas what to do if the table already exists. 'Fail' will throw an error, 'replace' will delete the existing table and overwrite it, and 'append' will add the data to the end of the table.

This also works now because the columns in the dataframe match the columns in the table. If they don't, you can use the 'columns' parameter to specify which columns to write or clean the dataframe to match the table.

In [17]:
# read the employees.csv file and insert it into the employee_data table:
import pandas as pd





conn.commit()

If using VSCode, you can click on the database file in the 'Explorer' pane to preview the database in real time.

One of the downsides to SQLite is datatypes are not enforced. Even though we set the datatype for salary as REAL (ie a float/decimal), the values got written as strings and included the dollar sign. This can cause many issues down the line when it comes to querying.

The simplest way of managing this is to clean the data before writing it. We'll go over more advanced options later

## Data Cleaning
```import datetime
df['start_date'] = pd.to_datetime(df['start_date']).strftime('%Y-%m-%d')
df['termination_date'] = pd.to_datetime(df['termination_date']).strftime('%Y-%m-%d')
df['salary'] = df['salary'].replace('$', '')
df = df.dtypes({
    'id': str,
    'first_name': str,
    'last_name': str,
    'start_date': str,
    'termination_date': str,
    'salary': float,
    'department': str
})

df.to_sql('employee_data', conn, if_exists='append', index=False)
```

In [ ]:
# clean the data this time and write to sql
# when writing to SQL, use "if_exists='replace' for now to avoid duplicates
df =

df.to_sql('employee_data', conn, if_exists='replace', index=False)

## Handeling Duplicate Primary Keys
Using pandas.to_sql() is a great way to quickly write data to a database, but it doesn't allow for much customization. Because of primary keys, we can't just write the data as is. We need to unpack the data and write it row by row so that we can check if a value already exists. Failing to do so will throw a "not unique" error and the entire database write will fail.

1. Iterate over the dataframe using `iterrows()`
2. Check if the id (which is our primary key) already exists in the database
    - This can be done by running a SELECT statement on the database to query for the id and return the first result (result = cursor.fetchone())
3. If it doesn't, insert the row into the database
4. If it does, print a message and skip the row

```for index, row in df.iterrows():
    cursor.execute('SELECT id FROM employee_data WHERE id = ?', (row['id'],))
    result = cursor.fetchone()
    if result is None:
        cursor.execute('''
            INSERT INTO employee_data (id, first_name, last_name, start_date, termination_date, salary, department) VALUES
            (?, ?, ?, ?, ?, ?, ?)
        ''', (row['id'], row['first_name'], row['last_name'], row['start_date'], row['termination_date'], row['salary'], row['department']))
    else:
        print(f"Skipping row with id {row['id']} as it already exists in the database.")```

## Updating Data
Updating data is done using the UPDATE statement. This statement requires a WHERE clause to specify which rows to update. If the WHERE clause is omitted, all rows will be updated.

If the primary key already exists, you may want to update the row instead of skipping it. This can be done by using the ON CONFLICT clause. This clause tells SQLite what to do if a conflict arises (ie a duplicate primary key). In this case, we want to update the row.

```for index, row in df.iterrows():
    cursor.execute('SELECT id FROM employee_data WHERE id = ?', (row['id'],))
    result = cursor.fetchone()
    if result:
        cursor.execute('''
            UPDATE employee_data SET first_name = ?, last_name = ?, start_date = ?, termination_date = ?, salary = ?, department = ? WHERE id = ?
        ''', (row['first_name'], row['last_name'], row['start_date'], row['termination_date'], row['salary'], row['department'], row['id']))```

## Deleting Data
Deleting data is done using the DELETE statement. This statement requires a WHERE clause to specify which rows to delete. If the WHERE clause is omitted, all rows will be deleted.

```cursor.execute('DELETE FROM employee_data WHERE id = 12345678')```

In [ ]:
# Read in employees1.csv. There are 2 employees with updated termination dates (Nancy Harris and Fiona Miller)
# the other employees should be skipped





conn.commit()

## Querying Data
As previously mentioned, Pandas seamlessly integrates with SQLite. This means you can use SQL queries to pull data from the database and load it directly into a dataframe.

```query = 'SELECT * FROM employee_data'
df = pd.read_sql_query(query, conn)```

This will return all rows and columns from the employee_data table. You can also use the WHERE clause to filter the data.

```query = 'SELECT * FROM employee_data WHERE department = "Sales"'
df = pd.read_sql_query(query, conn)```

In [ ]:
# Return a list of employees who make more than $70,000. There should be 10





# Return a list of employees that work in the HR department. There should be 4




# Return a list of employees who were hired in 2020. There should be 3




# Return a list of all active employees that do not have a termination date. There should be 9

## Once this exercise is completed, move to part2.ipynb to learn more advanced concepts and techniques.